body {
  text-align: center;
  background-image: url(wooden-table.png);
}

.simon-box{
	width: 440px;
	height: 440px;
	background-image: url(simon-buttom.png);
	margin: 0 auto;
	position: relative;
}

#level-title {
  font-family: 'Calibri', cursive;
  font-size: 6rem;
  margin:  5%;
  text-shadow: 5px 0 #FFFFFF;
  color: #4ECCA3;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 0px;
  display: inline-block;
  height: 200px;
  width: 200px;
}

.game-over {
  background-image: url(Game-over.png);
  opacity: 0.8;
}

.row-1{
	margin-bottom: 33px;
    padding-top: 0px;
}

.red {
	background-image: url(red-btn.png);
	width: 200px;
	height: 200px;
	display: inline-block;
}

.green {
	background-image: url(green-btn.png);
	width: 200px;
	height: 200px;
    display: inline-block;
	margin-right: 30px;
}

.mid{
	position: absolute;
    bottom: 30%;
    left: 32%;
}
.row-2{
	margin-top: 0px;
}

.blue {
	background-image: url(blue-btn.png);
	width: 200px;
	height: 200px;
    display: inline-block;
}

.yellow {
	background-image: url(yellow-btn.png);
    width: 200px;
	height: 200px;
    display: inline-block;
	margin-right: 30px;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
